.key {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;

    color: #7393B3;

    box-shadow: 5px 5px 10px gray;
}

.key:hover {
    background-color: #e0e0e0;
}

.clear-btn {
    width: 90px;
    background-color: #f0f0f0;
}
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#input-box{

    border: none;
    border-bottom: 1px solid  #7393B3;
    border-left: 1px solid #7393B3;
    background-color: #F5F5F5;

    width: 500px;  

    font-size: 24px; 
    padding: 10px;

    margin-top : 20px;
    margin-bottom: 20px;

    color: #7393B3;

}

#hlavni{
    
    text-align: center; 
    padding: 20px;

    background-color: 	#FFFFFF;

    display: flex;
    flex-direction: row;

    height: 100vh;
    
}


#keyboard{
    /* background-color: red; */
    width: 50%;
    margin-top: 100px;
}


#keyboard2{
    max-width: 100%;  
    overflow-x: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: blue; */

    margin: 5px;
}

#display{
    width: 700px;
    height: 700px;
    border-radius: 10px;
    /* margin-top: 50px; */
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow-x: auto; /* Umožní posouvání, pokud je tabulka širší */

    background-color: #F5F5F5;

    /* background-color: red; */

    transform: rotateZ(0.5deg);

    /* border: 1px solid black; */

    margin: 5px;

}

#t2{
  
   /* width: 100%;  */

   width: auto;  

   max-width: 90%; /* Zabrání přetažení */
   table-layout: fixed; /* Fixní rozložení buněk */
   word-wrap: break-word; /* Zalomení dlouhého textu */
   border-collapse: collapse; /* Zabrání zvětšování buněk kvůli okrajům */

   text-align: center;

   margin: 30px;

   font-family: Arial, Helvetica, sans-serif

}

/* **************************************   RESPONSIVITA  ***************************************************** */

@media screen and (max-width: 300px) 
{
    body
    {
        display: none;
    }

}

@media screen and (min-width: 301px)and (max-width: 400px) 
{

    /* #hlavni{
        background-color: aqua;
    } */

    #input-box{
        width: 100%;
    }
    
}


@media screen and (min-width: 401px) and (max-width: 575px) 
{
    /* #hlavni{
        background-color: green;
    } */

    #input-box{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) 
{
    /* #hlavni{
        background-color: purple;
    } */

    #input-box{
        width: 100%;
    }

}

@media screen and (min-width: 767px) and (max-width: 991px) 
{
    /* #hlavni{
        background-color: brown;
    } */

    #input-box{
        width: 100%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) 
{
    /* #hlavni{
        background-color: yellow;
    } */

    #input-box{
        width: 100%;
    }

}

@media screen and (min-width: 1200px)
{
    /* #hlavni{
        background-color: blue;
    }

    #keyboard{
        background-color: red;
    }

    #keyboard2{
        background-color: green;

        display: flex;
        flex-direction: column;

        align-items: start;
        justify-content: start;
    }

    #display{
        background-color: yellow;
    } */
}

/* ********************************************************************************* */


#c-btn-return{
    /* background-color:brown; */
    height : 10%; 
    width : 100%;

    display: flex;
    flex-direction: row;

    justify-content: end;

    padding-right: 15px;

}

#btn-return{
    width: 60px;
    height: 60px;
    background-color: #4CBB17;
    border-radius: 10px;
    border: none;
    outline: none;

    padding: 5px;
    box-shadow: 5px 5px 10px gray;
}


#btn-return img{
    
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(38deg) brightness(107%) contrast(101%);;
    width: 100%;
    height: 100%;
    object-fit : contain;
}