
#hc1{

    position: relative; /* Přidáno pro relativní pozicování */

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    overflow: hidden; /* Skryje přetečení */

    background-image: url('/assets/pokus.jpg');
    background-size: cover; /* Pokryje celé pozadí */
    background-position: center;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

}

#hc1::before {
    content: ""; /* Pseudo-element musí mít nějaký obsah */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Použijeme stejné pozadí jako #hc1 */
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Efekt rozmazání */
    z-index: 1; /* Pod obsah */
}

#hc1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Černý filtr s 50% průhledností */
    z-index: 1; /* Udržuje filtr nad pozadím, ale pod obsahem */
}


#p1, #p2, #p3 { /* Zajištění, že obsah bude nad rozmazaným pozadím */
    position: relative;
    z-index: 2; /* Nad rozmazané pozadí */
}


#p1{

    /* background-color: rgba(20, 52, 164, 0.8);  */

    background-color: #1434A4;  
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
}

#p2{
    width:30%;
    background-color: azure;

    /* background-color: rgba(255, 255, 255, 0.9); */

    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 10% auto;
    text-align: center;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Stín */

}

#sp1{
    font-size: 12px;
    font-weight: 700;
}

#sp2{
    font-size: 40px;
    font-weight: 700;
}

#sp3{
    font-size: 12px;
}


#p3{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* background-color: greenyellow; */
    width: 100%;


    align-items: flex-end;
    justify-content : space-evenly;
    padding-bottom: 5%;
    box-sizing: border-box;
}


#c1 img{
    
    filter: brightness(0) saturate(100%) invert(27%) sepia(50%) saturate(5281%) hue-rotate(349deg) brightness(88%) contrast(85%);
    width: 100%;
    height: 100%;
    object-fit : contain;
}

/* #c1:hover{
    background-color: #D22B2B;
}

#c1 img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
} */


#c2 img{
    
    filter: brightness(0) saturate(100%) invert(19%) sepia(23%) saturate(6881%) hue-rotate(204deg) brightness(105%) contrast(108%);
    width: 100%;
    height: 100%;
    object-fit : contain;
}

/* #c2:hover{
    background-color: #0047AB;
}

#c2 img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
} */


#c3 img{
    
    filter: brightness(0) saturate(100%) invert(79%) sepia(77%) saturate(554%) hue-rotate(349deg) brightness(102%) contrast(98%);
    width: 100%;
    height: 100%;
    object-fit : contain;
}

/* #c3:hover{
    background-color: #FDDA0D;
}

#c3 img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
} */


#c4 img{
    
    filter: brightness(0) saturate(100%) invert(38%) sepia(47%) saturate(406%) hue-rotate(61deg) brightness(98%) contrast(91%);
    width: 100%;
    height: 100%;
    object-fit : contain;
}

/* #c4:hover{
    background-color: #4F7942;
}

#c4 img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
} */


.active-btn {
    background-color: #D22B2B !important;
}

.active-btn2 {
    background-color: #0047AB !important;
}

.active-btn3 {
    background-color: #FDDA0D !important;
}

.active-btn4 {
    background-color: #4F7942 !important;
}



.active-img {
    filter: brightness(0) invert(1) !important;
}

.active-img2 {
    filter: brightness(0) invert(1) !important;
}

.active-img3 {
    filter: brightness(0) invert(1) !important;
}

.active-img4 {
    filter: brightness(0) invert(1) !important;
}

body{

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* **************************************   RESPONSIVITA  ***************************************************** */

@media screen and (max-width: 300px) 
{
    body
    {
        display: none;
    }
}

@media screen and (min-width: 301px)and (max-width: 400px) 
{

    body{
        /* background-color: green; */
    }

    #c1{
        width: 15%;
        height: 70%;
        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c2{
        width: 15%;
        height: 70%;
        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;
        height: 70%;
        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;
        height: 70%;
        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }

    #p3{
        /* background-color: aquamarine; */
    }
    
}


@media screen and (min-width: 401px) and (max-width: 575px) 
{
    body{
        /* background-color: yellow; */
    }

    #c1{
        width: 15%;

        min-width: 90px;

        /* height: 70%; */

        height: 90px;

        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c2{
        width: 15%;

        min-width: 90px;

        /* height: 70%; */

        height: 90px;

        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;

        min-width: 90px;

        /* height: 70%; */

        height: 90px;

        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;

        min-width: 90px;

        /* height: 70%; */

        height: 90px;

        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }

    #p3{
        /* background-color: aquamarine; */
    }

    #p2{
        
        margin: 30% auto;
        width: 80%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) 
{
    body{
        /* background-color: red; */
    }

    #c1{
        width: 15%;
        
        min-width: 120px !important;

        /* height: 70%; */

        height: 120px;

        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c2{
        width: 15%;

        min-width: 120px !important;

        /* height: 70%; */

        height: 120px;

        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;

        min-width: 120px !important;

        /* height: 70%; */
        
        height: 120px;

        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;

        min-width: 120px !important;

        /* height: 70%; */

        height: 120px;

        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }

    #p3{
        /* background-color: aquamarine; */
    }

    #p2{
        
        margin: 30% auto;
        width: 60%;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) 
{
    body{
        /* background-color: purple; */
    }

    #c1{
        width: 15%;

        min-width: 150px !important;

        /* height: 70%; */

        height: 150px;

        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;   
    }
    
    #c2{
        width: 15%;

        min-width: 150px !important;

        /* height: 70%; */

        height: 150px;

        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;

        min-width: 150px !important;

        /* height: 70%; */

        height: 150px;

        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;

        min-width: 150px !important;

        /* height: 70%; */

        height: 150px;

        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }

    #p3{
        /* background-color: aquamarine; */
    }

    #p2{
        
        margin: 20% auto;
        width: 50%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) 
{
    body{
        /* background-color: blue; */
    }

    #c1{
        width: 15%;
        min-width: 200px !important;

        height: 70%;
        height: 200px;

        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c2{
        width: 15%;
        min-width: 200px !important;

        height: 70%;
        height: 200px;

        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;
        min-width: 200px !important;

        height: 70%;
        height: 200px;

        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;
        min-width: 200px !important;
        /* height: 70%; */

        height: 200px;

        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }

    #p3{
        /* background-color: aquamarine; */
    }

    #p2{
        
        margin: 15% auto;
        width: 40%;
        padding: 30px;
    }

    #sp1{
        font-size: 16px;
    }
    
    #sp2{
        font-size: 50px;
    }
    
    #sp3{
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px)
{
    body{
        /* background-color: chartreuse; */
    }

    #c1{
        width: 15%;

        min-width: 225px !important;

        /* height: 70%; */

        height: 225px;


        /* background-color: red; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c2{
        width: 15%;

        min-width: 225px !important;

        /* height: 70%; */

        height: 225px;

        /* background-color: blue; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    }
    
    #c3{
        width: 15%;
        min-width: 225px !important;

        /* height: 70%; */

        height: 225px;

        /* background-color: yellow; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;
    
    }
    
    #c4{
        width: 15%;
        min-width: 225px !important;
        /* height: 70%; */

        height: 225px;

        /* background-color: orange; */
        border-radius: 10px;
    
        padding:30px;
    
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    
        box-sizing: border-box; /* Zahrne padding do celkové velikosti */
        overflow: hidden;     /* Skryje přebytečnou část obrázku */
    
        border: none;
        outline: none;

    }

    #p3{
        /* background-color: aquamarine; */
    }

    #p2{
        padding: 40px;
        width: 40%;
    }

    #sp1{
        font-size: 16px;
    }
    
    #sp2{
        font-size: 50px;
    }
    
    #sp3{
        font-size: 16px;
    }
}